.btnAction {
  background-color: var(--white);
  border: 3px solid var(--maroon);
  border-radius: 0;
  color: var(--maroon);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: var(--spc-lv7) var(--spc-lv4);

  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.btnAction:hover {
  background-color: var(--maroon);
  color: var(--white);
}
